h1,h2,h3,h4,h5,h6{
    font-family:"Domine",serif;
}
p{
    font-family:"Roboto",sans-serif;
}
body{
    background-image:url("emo_mickey.png");
    background-repeat:repeat;
}
.col1,.col2,.col3{
    float:left;
    width:10%;
    margin:0.5%;
    border: 1px solid;
    border-color:#ec524b;
}
.col1>p,.col2>p,.col3>p{
    text-align:center;
    text-overflow:hidden;
    background-color:#9ad3bc;
}
img.right{
    float:right;
    width:20%;
    margin:5%;
}