{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">

<h1>Searched: "<em>{{query}}</em>"</h1>
{% for post in results %}
<div class="search">
    <h2>
        <a href="{{post.get_absolute_url}}">
            {{post.title}}
        </a>
    </h2>
    <p class="tags">
        Tags:
        {% for tag in post.tags.all %}
        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
          {{tag.name}}
        </a>
        {% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|truncatewords:30|linebreaks }}
</div>
{% empty %}
<h3>No posts found here sis.</h3>
{% endfor %}
  </div>
  <div id="sidebar">
      <a href="/blog">Home</a>
    <h2>My blog</h2>
    <p>This is my blog.</p>
    <p>I've written {%total_posts%} posts</p>
    <h3>Latest Posts</h3>
    {% show_latest_posts 3 %}
    {% search_bar %}
  </form>
  </div>
</body>