{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    {% if request.user.is_authenticated %}
      <h3>Welcome, {{request.user.username}}</h3>
      <a href="{% url "blog:post_list" %}">Home</a>
      <a href="{% url "accounts:logout" %}">Logout</a>
      <a href="{% url "accounts:edit" %}">Edit Profile</a>
    {% else %}
      <a href="{% url "blog:post_list" %}">Home</a>
      <a href="{% url "accounts:login" %}">Login</a>
      <a href="{% url "accounts:register" %}">Register</a>
    {% endif %}

    <h2>My blog</h2>
    <p>This is my blog.</p>
    <p>I've written {%total_posts%} posts</p>
    <p>You've visited this website {{ request.session.num_visitas }} times</p>
    <p>Your last visited posts were: </p>
    {% for post in request.session.last_visited_posts %}
      <p><a href={{post|post_url}} >{{ post | post_filter }}</a></p>
    {% endfor %}
    <h3>Latest Posts</h3>
    {% show_latest_posts 3 %}
    {% search_bar %}
  </form>
  </div>
</body>
</html>
