@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color:#14111B;
    color:white;
    font-size:16px;
    text-align:center;
    margin:0;
}
h1,h2,h3{
    font-family: "Domine";
}
div>h1{
    text-align:center;
}
p{
    font-family: "Roboto";
}
.quadrado{
    position:relative;
    width:100%;
    border:5px solid black;
}

.quadrado:after{
    content:"";
    display: block;
    padding-bottom:90%;
    font-size:50%;
}

.conteudo{
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    overflow:auto;
}
#startpic{
    width:40%;
    height:25%;
    float:left;
    border:3px solid #92D4EC;
    margin:1%;
}
.KDA-youtube{
    float:right;
    width:40%;
    height:25%;
    border:3px solid #92D4EC;
    margin:1%;
}


.container{
    position:relative;
    width:18%;
    margin-bottom:2%;
}
#Ahri,#Evelynn{
    float:left;
    margin-right:6%;
}
#Ahri{
    margin-left:3.7%;
}

#Kaisa,#Akali{
    float:right;
    margin-left:6.1%;
}
.hoverpics{
    display:block;
    width: 80%;
    height: 80%;
    border:3px solid #92D4EC;
    background-color:#92D4EC;
    transition:0.5s;
}

.hoverpics:hover{
    background-color:#14111B;
    color:#92D4EC;
    display: block #92D4EC;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 81%;
    opacity: 0;
    transition: .5s ease;
    background-color: #92D4EC;
}
.container:hover .overlay {
    opacity: 0.7;
}

.overlay>p{
    margin-top:130%;
    left:10%;
    font-size:150%;
    font-weight:bolder;
    color:black;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
div.about>img{
    float:left;
    height:10%;
    width:20%;
}
div.text-ab>p{
    text-align:center;
    margin-left:2%;
    margin-bottom: 3%;
}
div.about{
    margin-left:3%;
    margin-bottom:7%;
}
div.text-ab{
    border-top: 3px solid #92D4EC;
    border-bottom: 3px solid #92D4EC;
}
h1#head-ab{
    border-bottom: 3px solid #92D4EC;
}
div.text-ab::after{
    height:10%;
    width:20%;
}

p#KDA-ab{
    margin:1%;
}