@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1,h2,h3{
    font-family: "Domine";
}
p,li,a{
    font-family: "Roboto";
}
a{
    color:black;
    text-decoration:none;
}
body{
    background-color:pink;
}
.logo{
    float:left;
    position:relative;
}
#logo{
    height:50%;
    width:50%;
}
.randtext{
    float:right;
}
.navbar{
    position:absolute;
    top:15%;
    background-color:lightgray;
    border: 1px solid black;
    width:99%;
    height:44px;
}
.navtable{
    width:20%;
    height:44px;
}
.navitem{
    background-color:darkgray;
    border: 1px solid black;
    width: 5%;
    text-align:center;
}
.navlink{
    margin-right:1%;
    margin-left:1%;
}

.navlinkdrop {
   background-color: darkgray;
   width:100%;
   padding:20%;
   height:100%;
   border: 1px solid black;
}
  
.navdrop {
   position: relative;
   display: inline block;
   background-color:darkgray;
   border: 1px solid black;
   width: 5%;
   text-align:center;
}
  
.dropcont {
   display: none;
   position: absolute;
   background-color: lightgray;
   width: 100%;
   border: 1px solid black;
   z-index: 1;
   left:-1%;
}
  
.dropcont .droplink{
   color: black;
   padding-top:10%;
   padding-bottom:10%;
   text-decoration: none;
   display: block;
}
  
.dropcont .droplink:hover {background-color: #ddd;}
  
.navdrop:hover .dropcont {display: block;}
  
.navdrop:hover .navlinkdrop {background-color: #3e8e41;}
