{% extends "movies/base.html" %}

{% block title %}Episodes{% endblock %}

{% block content %}
<div class="episode-detail">
    <h2>{{episode.name}}</h2>
    <h4>{{episode.rating}} <i class="far fa-star"></i></h4>
    <img src={{episode.poster.url}} alt={{episode.name}}>
    <p>{{episode.description}}</p>
</div>

{% endblock %}