.market-item {
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 5%;
  margin-left: 1%;
  img {
    width: 25%;
    height: 20vh;
    border: 1px solid black;
    float: left;
    margin-right: 1%;
  }
  .item-description {
    padding: 1%;
  }
}
