body {
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  background-color: rgb(247, 215, 220);

  button {
    background-color: rgb(228, 228, 228);
    border: 3px solid rgb(245, 190, 198);
    border-radius: 30deg;
  }
  div {
    background-color: rgb(208, 224, 230);
  }
}
.hidden {
  visibility: hidden;
}
