body {
  padding: 2%;
  background-color: rgb(250, 250, 236);
}

#sidebar {
  margin-top: 10vh;
  float: right;
  width: 30%;
  padding: 10px;
  background: #efefef;
  height: 100%;
}

#content {
  float: left;
  width: 60%;
  padding: 0 0 0 30px;
}

h2#movies-like {
  margin-top: 7rem;
}

h2#movie-title {
  margin-top: 4rem;
}

div.movie {
  width: 100%;
  height: 30vh;
}

/* Movie List things*/

h1.head {
  font-size: 3rem;
  text-align: center;
}

p.date > em {
  color: lightcoral;
}

h3.rating {
  color: rgb(207, 185, 59);
  padding: 0.7rem;
}

a {
  color: rgb(255, 135, 87);
}

div.movie > img {
  float: left;
  width: 20%;
  height: 30vh;
  margin-right: 2%;
}

div.staff > img {
  float: left;
  width: 20%;
  height: 30vh;
  margin-right: 2%;
}

div#filters > a {
  color: rgb(99, 192, 99);
}

div.list > div.movie > p {
  padding: 0.8rem;
}

div.list > div.movie {
  padding-bottom: 5%;
}

div.staff {
  width: 100%;
  height: 50vh;
}

div#Form {
  background-color: rgb(209, 207, 207);
  float: right;
}
div#Form > form > input {
  float: right;
}

div.list > div.movie {
  width: 100%;
  height: 40vh;
}

/* Movie detail things */
div.movie-detail > h1 {
  color: rgb(255, 135, 87);
}

div.movie-detail > h3.tags {
  color: lightcoral;
}
div.movie-detail > img {
  border: 2px solid black;
  border-radius: 5%;
  float: left;
  margin-right: 2%;
}

div.movie-detail > p {
  position: flex;
  padding: 1rem;
}
