{% extends "movies/base.html" %}

{% block title %}This is your account{% endblock %}

{% block content %}
    <h1>This is your account</h1>
    <h3>Welcome, {{user_data.username}}</h3>
    {% if profile_data.photo %}
        <img src={{profile_data.photo.url}} alt="imagem" />
    {% else %}
    <h3>You have missing data, please complete your profile.</h3>
    {% endif %}
    <h2>{{user_data.username}}'s recently watched movies:</h2>
    <ul>
        {% for mov in recently_seen_movies %}
        <li> {{mov.title}}</li>
        {% endfor %}
    </ul>
    <h2>{{user_data.username}}'s top movies:</h2>
    <ul>
        {% for mov in request.user.profile.top_movies.all %}
        <li> {{mov.title}}</li>
        {% endfor %}
    </ul>
    <h2>{{user_data.username}}'s top actors:</h2>
    <ul>
        {% for act in request.user.profile.top_actors.all %}
        <li> {{act}}</li>
        {% endfor %}
    </ul>
    <h2>{{user_data.username}}'s critics made:</h2>
    <ul>
        {% for critic in user_data.critics.all %}
        <li>
            <h2>Critic for: <em>{{ critic.movie }}</em></h2>
            <h4>Critic done in {{ critic.created }}</h4>
            <p>{{ critic.critic|truncatewords:50 }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}