{% extends "movies/base.html" %}
{% load staff_tags %}

{% block title %}Staff{% endblock %}

{% block content %}
<h1>Searched for staff: "<em>{{query}}</em>"</h1>
    <div class="Form">
      {% search_staff %}
    </div>
{% for staff in results %}
<div class="search">
        <h2>
          <a href="{{staff.get_absolute_url}}">{{ staff.name }} {{staff.last_name }}</a>
        </h2>
        <img id="staff-image" src={{staff.image.url}} alt="{{ staff.name }}" />
        <p class="date">
          Born in: <em>{{ staff.date_of_birth }}</em>
        </p>
        </div>
        {% empty %}
        <h3>No one found here sis.</h3>
        {% endfor %}
{% endblock %}