{% extends "movies/base.html" %}
{% load staff_tags %}

{% block title %}Staff{% endblock %}

{% block content %}
  <div class="staff-list">
    <h1 class="head">IMDB</h1>
    <h1>Staff List:</h1>
    <div id="Form">
      {% search_staff %}
    </div>
    <div id="filters">
        <a href="{%url "staff:actor_list"%}">Actors</a>
        <a href="{%url "staff:producer_list"%}">Producers</a>
        <a href="{%url "staff:writer_list"%}">Writers</a>
        <br>
      <a href="{%url "staff:male_list"%}">Male Staff</a>
      <a href="{%url "staff:female_list"%}">Female Staff</a>
    </div>
    {% for staff in staff_list %}
      <div class="staff">
        <a href="{{staff.get_absolute_url}}"><h2>{{staff.name}} {{staff.last_name}}</h2></a>
        {% actors_check staff.id staff.gender as actor %}
        {% writers_check staff.id as writer %}
        {% producers_check staff.id as producer %}
        {% if actor and writer and producer %}
        <p>{{actor}}, {{writer}}, {{producer}}</p>
        {% elif actor and writer and not producer %}
        <p>{{ actor }}, {{ writer }}</p>
        {% elif actor and producer and not writer %}
        <p>{{ actor }}, {{ producer }}</p>
        {% elif producer and writer and not actor %}
        <p>{{producer}}, {{writer}}</p>
        {% else %}
        <p>{{actor}}{{producer}}{{writer}}</p>
        {% endif %}
        <img id="staff-image" src={{ staff.image.url }} alt="{{ staff.name }}" />
        <p class="date">
          Born in: <em>{{ staff.date_of_birth }}</em>
        </p>
        {{ staff.bio|truncatewords:25|linebreaks }}
      </div>
    {% endfor %}
    {% include "pagination.html" with page=staff_list %}
  </div>
{% endblock %}