{% extends "movies/base.html" %}

{% block title %}{{ staff.name }}{% endblock %}

{% block content %}
    <div class="staff-detail">
        <h1>{{ staff.name }} {{ staff.last_name }}</h1>
        <h3 >Born in {{ staff.date_of_birth }}</h3>
        <img style="width:50%; height:60vh;" src={{staff.image.url}} alt="{{ staff_name }}" />
        <h3>Bio:</h3>
        <p>{{ staff.bio }}</p>
    </div>
{% endblock %}