#light-bulb {
  font-size: 4rem;
}

.clicked-text {
  color: "black" !important;
}

.clicked-text-dark {
  color: "white" !important;
}

h1,
div,
form {
  place-items: center;
  display: grid;
}

p {
  font-size: 3rem;
}
