body{
    background: rgb(230,230,239);
    background: linear-gradient(90deg, rgba(230,230,239,1) 38%, rgba(193,231,239,1) 100%);
}
h1,h2,h3,h4,h5,h6{
    font-family:"Domine",serif;
}
p{
    font-family:"Roboto",sans-serif;
}
header{
    position:fixed;
    width:100%;
    border:1px solid black;
    background-color:white;

}
header>h2{
    position: relative;
    text-align:center;
    height:1%
}
header>a{
    float:right;
    right:20px;
    color:pink;
}
div.Sherb{
    float:right;
    border: 3px solid black;
    padding:30px;
    margin:1% auto;
    background-color:lightgray;
}
div.Sherb>img.Sherb{
    background-color:white;
    border: 4px pink solid;
}
div.Sherb>div{
    text-align:center;
    background-color:lightblue;
    border: 4px pink solid;
}
iframe.SherbYoutube{
    height:500px;
    width:60%;
}