{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
    <div id="sidebar">
        <a href="/">Home</a>
        <a href="{%url "staff:staff_list"%}"> Staff</a>
        <a href="{%url "shows:show_list"%}"> Shows</a>
        {% if request.user.is_authenticated %}
        <a href="{%url "movies:what-to-watch"%}"> What to watch</a>
        {% endif %}
        <br>
        {% if request.user.is_authenticated %}
        <a href="{%url "accounts:profile"%}">Show Profile</a>
        <a href="{%url "accounts:edit"%}">Edit Profile</a>
        <a href="{%url "accounts:logout"%}">Logout</a>
        {% else %}
        <a href="{%url "accounts:login"%}">Login</a>
        <a href="{%url "accounts:register"%}">Register</a>
        {% endif %}
        <br>
    </div>
</body>
</html>