{% extends "movies/base.html" %}
{% load movies_tags %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <div class="movie-detail">
        <h1>{{ movie.title }}</h1>
        <h3 class="tags">{{ movie.duration }}  | {% for tag in movie.tags.all %} {{ tag.name }} {% endfor %} | Released in {{ movie.release_date }}</h3>
        <h3 class="rating">{{ movie.rating | round_num }} <i class="far fa-star"></i></h3>
        <img style="width:30%; height:50vh;" src={{movie.images.url}} alt="{{ movie.title }}" />
        <h3>Description:</h3>
        <p>{{ movie.description }}</p>
        <h3>Actors:</h3>
        {% for act in movie.actors.all %}
            <a href="{{act.details.get_absolute_url}}">{{act.details.name}} {{act.details.last_name}}</a>
        {% endfor %}
        <h3>Producers:</h3>
        {% for p in movie.producers.all %}
            <a href="{{p.details.get_absolute_url}}">{{p.details.name}} {{p.details.last_name}}</a>
        {% endfor %}
        <h3>Writers:</h3>
        {% for w in movie.actors.all %}
            <a href="{{w.details.get_absolute_url}}">{{w.details.name}} {{w.details.last_name}}</a>
        {% endfor %}
        <div class="critics">
            <h2>Critics:</h2>
            {% for critic in movie.critics.all %}
            <div class="critic">
              <h4 class="info">
                Critic {{ forloop.counter }} by {{ critic.user.username }} {{ critic.created }}
              </h4>
              {{ critic.critic |linebreaks }}
            </div>
            {% empty %}
            <p>No critics here sis.</p>
          {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div id="comment-form">
            <form method="POST">
            {% csrf_token %}
            {{ critic_form.as_p }}
            <p><input type="submit" value="Add Critic"></p>
          </form>
        </div>
        {% endif %}
    </div>
{% endblock %}