{% extends "movies/base.html" %}
{% load movies_tags %}

{% block title %}Movies{% endblock %}

{% block content %}
  <div class="list">
    <h1 class="head">IMDB</h1>
    <div id="Form">
      {% search_bar %}
    </div>
    {% for movie in movies %}
      <div class="movie">
        <h2>
          <a href="{{movie.get_absolute_url}}">{{ movie.title }}</a>
        </h2>
        <img id="trailer-image" src={{movie.images.url}} alt="{{ movie.title }}" />
        <p class="date">
          Released in: <em>{{ movie.release_date }}</em>
        </p>
        {% for tag in movie.tags.all %}
        <a href="{% url "movies:movie_list_by_tag" tag.slug %}">
          {{ tag }}{% if forloop.last %} {% else %} | {% endif %}
        </a>
        {% endfor %}
        <h3 class="rating">{{ movie.rating | round_num }} <i class="far fa-star"></i></h3>
        {{ movie.description|truncatewords:25|linebreaks }}
      </div>
    {% endfor %}
    {% include "pagination.html" with page=movies %}
  </div>
{% endblock %}