{% extends "movies/base.html" %}
{% load movies_tags %}

{% block title %}Movies{% endblock %}

{% block content %}
<h1>Searched for movies: "<em>{{query}}</em>"</h1>
    <div id="Form">
      {% search_bar %}
    </div>
{% for movie in results %}
<div class="search">
        <h2>
          <a href="{{movie.get_absolute_url}}">{{ movie.title }}</a>
        </h2>
        <img id="trailer-image" src={{movie.images.url}} alt="{{ movie.title }}" />
        <p class="date">
          Released in: <em>{{ movie.release_date }}</em>
        </p>
        <h3 class="rating">{{ movie.rating }} <i class="far fa-star"></i></h3>
        {{ movie.description|truncatewords:25|linebreaks }}
        </div>
        {% empty %}
        <h3>No movies found here sis.</h3>
        {% endfor %}
{% endblock %}