{% extends "movies/base.html" %}
{% load movies_tags %}

{% block title %}What To Watch{% endblock %}

{% block content %}
<div class="list">
    <h1>IMDB</h1>
    <div id="Form">
      {% search_bar %}
    </div>
    <div class="movies-like">
        <a href="{% url "movies:what-to-watch"%}">Based on top picks</a>
        <p>Based on recently watched</p>
        <h2>Based on recently watched:</h2>
        {% for movs, movies in movies_based_on_recent.items %}
        <h2 id="movies-like">Movies like: <em>{{ movs }}</em></h2>
        {% for mov in movies %}
        <div class="movie">
            <h2 id="movie-title"><a href="{{mov.get_absolute_url}}">{{mov.title}}</a></h2>
            <img id="trailer-image" src={{mov.images.url}} alt="{{ mov.title }}" />
            <p class="date">
              Released in: <em>{{ mov.release_date }}</em>
            </p>
            <h3 class="rating">{{ mov.rating }} <i class="far fa-star"></i></h3>
            {{ mov.description|truncatewords:25|linebreaks }}
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}