body,p,h1{
    border: 1px solid;
    padding: 4px;
    border-color: black;
    font-family:Verdana;
    font-size:15pt;
    font-weight:bolder;
    text-align:center;
    text-decoration:underline;
    background-image: url("cover4.jpg");
}
strong,em{
    color:pink;
    background-color:black;
}
.Test{
    background-color:rgb(100,100,150);
}
div.Test{
    background-color:rgb(255,96,0,0.8);
}
#aaa{
    background-color:#ee3e80;
}
li>a{
    color:white !important;
}
h1+p{
    color:red;
} /*h1's com p's a seguir, o p imediatamente a seguir do h1 muda a cor*/
h2~p{
    color:lightcoral;
} /*Todos os p's no mesmo nivel de h2 têm a cor para lightcoral*/
h1[id]{
    font-family:'Gill Sans';
    color:violet;
}
[href*="w3c"]{
    color:slateblue
}
[target=_blank]{
    background-color:salmon
}
li>div{
    background-image: url("little-devil-teemo-recall.webp")
}
a:link {
    color: deeppink;
    text-decoration: none; 
}
a:visited {
    color: green; 
}