* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#square {
  width: 200pt;
  height: 200pt;
  background-color: rgb(208, 232, 240);
}

#switch {
  padding: 1rem 2rem;
  border: none;
  background-color: rgb(208, 232, 240);
  border-radius: 10pt;
  margin-top: 1rem;
  font-size: large;
  color: black;
  font-weight: bold;
  outline: none;
}

#switch:hover {
  background-color: rgb(245, 245, 173);
  transition: 1s;
}
