div.box{
    height:500px;
    width: 10%;
    background-color:lightblue;
    overflow-y:hidden;
    overflow-x:scroll;
    border-color:pink;
    border-width:2px;
    border-style:solid;
}
iframe.youtube{
    height:500px;
    width:50%;
}
p{
    margin:2px;
    padding:4px;
}
p.caixa{
    margin:10px auto;
}
li.test{
    display:inline-block;
}
header{
    position:fixed;
    left:49%
}
