.btns {
  height: 80vh;
  position: absolute;
  top: 20vh;
  width: 100%;
}

button {
  align-items: center;
  justify-content: center;
  height: 16vh;
  width: 100%;
  font-size: 3rem;
  border: 1px solid rgb(167, 167, 167);
}

.row {
  display: flex;
}
.col-sm {
  width: 25%;
}
.col-lg {
  width: 50%;
}
.operator {
  background-color: orange;
  color: white;
  box-shadow: none;
}
