.screen {
  width: 100%;
  height: 18vh;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  h1 {
    left: 100%;
    float: right;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 5rem;
    color: white;
  }
}
