{% extends "blog/base.html" %}

{% block title %}This is your account{% endblock %}

{% block content %}
    <h1>This is your account</h1>
    <p>{{user_data.username}}</p>
    <img src={{profile_data.photo.url}} alt="imagem" />
{% endblock %}