{% extends "movies/base.html" %}

{% block title %}Show{% endblock %}

{% block content %}
<div class="show-detail">
    <h1>{{show.name}}</h1>
    <img src={{show.poster.url}} alt={{show.name}} />
    <h4>Description:    </h4>
    <p>{{show.description}}</p>
    <p><h4>Actors:</h4> {{show.actors.all | join:", "}}</p>
    <p><h4>Producers:</h4> {{show.producers.all | join:", "}}</p>
    <p><h4>Writers:</h4> {{show.writers.all | join:", "}}</p>
    <div class="episodes">
        <h2>Episodes:</h2>
        {% for s, eps in episodes.items %}
            <h3>Season {{s}}:</h3>
            {% for ep in eps %}
            <a href={{ep.get_absolute_url}}><h3>{{ep.name}}</h3></a>
            <img src={{ep.poster.url}} alt={{ep.name}} />
            <h4>{{ep.rating}} <i class="far fa-star"></i></h4>
            <p>{{ep.description|truncatewords:20}}</p>
        {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}