{% extends "movies/base.html" %}

{% block title %}Shows{% endblock %}

{% block content %}
<div class="show-list">
    <h1 class="title">IMDB</h1>
    <h2>Shows:</h2>
    {% for show in shows %}
    <a href={{show.get_absolute_url}}><h3>{{show.name}}</h3></a>
    <img src={{show.poster.url}} alt={{show.name}} />
    <p class="date">
        Released in: <em>{{ show.air_date }}</em>
    </p>
    {% for tag in show.tags.all %}
    <a href="/shows">{{ tag }}{% if forloop.last %} {% else %} | {% endif %} </a>
    {% endfor %}
    <h4>{{show.rating}}<i class="far fa-star"></i></h4>
    <p>{{show.description|truncatewords:25}}</p>
    {% endfor%}
    {% include "pagination.html" with page=shows %}
</div>

{% endblock %}