@keyframes MOVE-BG {
  from {
    box-shadow: 10px 10px 50px var(--song-color-one);
  }
  to {
    box-shadow: 15px 15px 100px var(--song-color-two);
  }
}

@keyframes selected-anim {
  from {
    background-color: #dadada;
  }
  to {
    background-color: transparent;
  }
}

.library {
  width: 20rem;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #a8c9c1 30%, #c0a8a1);
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.8s ease, opacity 0.5s ease;
  box-shadow: 10px 10px 50px var(--song-color-one);

  h2 {
    padding: 2rem;
  }

  &.open {
    transform: translateX(0%);
    opacity: 1;
    box-shadow: none;
    animation: MOVE-BG 1.5s infinite alternate;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10pt;
  cursor: pointer;
  img {
    width: 30%;
  }
  .song-description {
    padding: 1rem;
  }
  &.selected {
    animation: selected-anim 2s infinite alternate;
  }
  &:hover {
    background-color: #e7e5e5;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border-radius: 20px;
  border: transparent;
}

@media only screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
  .library-song {
    font-size: 5;
    img {
      width: 60%;
      border-radius: 10pt;
    }
  }
}
