nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    position: relative;
    left: -25%;
  }
  button {
    background: transparent;
    border-radius: 4pt;
    cursor: pointer;
    border: 2px solid rgb(37, 36, 36);
    padding: 0.3rem;
    transition: all 0.3s ease;
    z-index: 134243534;
    position: absolute;
    left: 70%;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
    &:focus {
      outline: none;
      opacity: 1;
    }
  }
}
