@keyframes gradientKeyFrames {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #97aec2, #c0a8a1);
  background-size: 400% 400%;
  animation: gradientKeyFrames 5s infinite alternate;
}

h1,
h2,
h3 {
  color: rgb(37, 36, 36);
}

h3,
h4 {
  font-weight: 500;
  color: rgb(73, 73, 73);
}

.App {
  min-height: 100vh;
  transition: 0.7s ease;
}

.library-active {
  margin-left: 7%;
}

@media only screen and (max-width: 1260px) {
  .library-active {
    margin-left: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .library-active {
    margin-left: 50%;
  }
}

@import "./library";
@import "./nav";
