.player {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: var(--song-color-one);
}

.time-control {
  width: 50%;
  display: flex;
  align-items: center;
  color: black;
  input {
    width: 100%;
    padding: 0rem, 0rem;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid var(--song-color-one);
    border-radius: 10pt;
  }
  p {
    padding: 1rem;
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

svg {
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-radius: 10pt;
}

.track {
  width: 100%;
  background-color: lightblue;
  border-radius: 10pt;
  height: 17px;
  position: relative;
  overflow: hidden;
}

.animate-track {
  background-color: rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
  border-radius: 10pt;
}

.animate-track-thumb {
  width: 18px;
  height: 17px;
  background-color: rgb(31, 31, 31);
  box-shadow: 2px 2px 50px;
  border-radius: 18px;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .time-control {
    width: 80%;
  }
}
