@keyframes MOVE-BG {
  from {
    box-shadow: 10px 10px 50px var(--song-color-one);
  }
  to {
    box-shadow: 15px 15px 100px var(--song-color-two);
  }
}

.song {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    width: 20%;
    border-radius: 10pt;
    border: 2px solid var(--song-color-one);
    animation: MOVE-BG 2s infinite alternate;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .song {
    img {
      width: 50%;
    }
  }
}
